input[type='file'] {
    color: rgb(31, 41, 55);
    cursor: pointer;
    border: 1px solid rgb(191, 194, 199);
    padding-right: 0.5rem;
    width: 24rem;
}

::file-selector-button,
::-webkit-file-upload-button {
    background-color: rgb(209, 213, 219);
    color: rgb(31, 41, 55);
    border: none;
    cursor: pointer;
    border-right: 1px solid rgb(191, 194, 199);
    padding: 0.25rem 1rem;
    margin-right: 1rem;
}

body {
    margin-left: 20px;
}

.root {
    width: 840px;
    margin: 20px 0;
}

.root div {
    display: flex;
    align-items: center;
}

.root div div, a {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 1px 0;
}

.number {
    width: 50px;
}

.correct {
    width: 50px;
}

.big {
    width: 180px;
}

.middle {
    width: 240px;
}

.small {
    width: 260px;
}

.link {
    width: 60px;
}

.source {
    text-decoration: none;
    color: rgb(1, 77, 0);
    transition: .4s;
}

.source:hover {
    opacity: 0.5;
}


.operation-button {
    margin: 20px 0;
}

.operation-button .part {
    width: fit-content;
    border: 1px solid black;
    display: flex;
    margin: 10px 0;
    cursor: pointer;
}

.operation-button .part div {
    padding: 10px 15px;
}

.information {
    margin: 20px 0 120px 0;
}

.information div {
    display: flex;
}

.information div p {
    margin: 0;
    font-size: 18px;
}